@using ECOMCupCake.Components
@model PaginatedList<ECOMCupCake.Models.Product>

@{
    ViewData["Title"] = "Shop";
}

@await Component.InvokeAsync(nameof(CurrentBasket))


<div class="shop-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Shop</h1>
    <p class="lead">Browse our selection of beautiful and tasty Cupcakes.</p>
</div>

<div class="card-columns">
    @foreach (var item in Model.Items)
    {
        <div class="card product-card">
            <div class="card-image-wrap"><img class="card-img-top" src="@item.Image" alt="Cupcake Image"></div>
            <div class="slide-actions">
                <ul class="card-product-actions">
                    <li><a asp-route-slug="@item.Slug" asp-route-id="@item.ID" asp-controller="Products" asp-action="Details" data-tip="View"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title text-nowrap">@item.Name</h5>
                <p class="card-text text-truncate">@item.Description</p>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-primary btn-product active my-2" asp-route-slug="@item.Slug" asp-route-id="@item.ID" asp-controller="Products" asp-action="Details"><i class="fa fa-info"></i> View</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-success btn-product my-2 active"><i class="fa fa-cart-plus"></i> Buy</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled">
            <a class="page-link" asp-controller="Shop" asp-action="Index"
               asp-route-page="@(Model.PageIndex - 1)">Previous</a>
        </li>
        <li class="page-item @nextDisabled">
            <a class="page-link" asp-controller="Shop" asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>